:root {
--global-colors-Blue-25: var(--global-#fafbff);
--global-colors-Blue-50: var(--global-#e3ebff);
--global-colors-Blue-100: var(--global-#cddaff);
--global-colors-Blue-200: var(--global-#b6c9ff);
--global-colors-Blue-300: var(--global-#7994f6);
--global-colors-Blue-400: var(--global-#3f59e4);
--global-colors-Blue-500: var(--global-#203dd5);
--global-colors-Blue-600: var(--global-#1a31a9);
--global-colors-Blue-700: var(--global-#152888);
--global-colors-Blue-800: var(--global-#111e66);
--global-colors-Blue-900: var(--global-#0c1545);
--global-colors-Blue-1000: var(--global-#070c24);
--global-colors-Teal-25: var(--global-#faffff);
--global-colors-Teal-50: var(--global-#e2f6f4);
--global-colors-Teal-100: var(--global-#c9ede9);
--global-colors-Teal-200: var(--global-#b1e4de);
--global-colors-Teal-300: var(--global-#7dcfc2);
--global-colors-Teal-400: var(--global-#4cb7a3);
--global-colors-Teal-500: var(--global-#229682);
--global-colors-Teal-600: var(--global-#096256);
--global-colors-Teal-700: var(--global-#084f45);
--global-colors-Teal-800: var(--global-#063c35);
--global-colors-Teal-900: var(--global-#052924);
--global-colors-Teal-1000: var(--global-#041613);
--global-colors-Neutral-25: var(--global-#fffefa);
--global-colors-Neutral-50: var(--global-#fdfaf2);
--global-colors-Neutral-100: var(--global-#f6f1e7);
--global-colors-Neutral-200: var(--global-#f1e9da);
--global-colors-Neutral-300: var(--global-#e8dcc7);
--global-colors-Neutral-400: var(--global-#cbc3b4);
--global-colors-Neutral-500: var(--global-#afaba1);
--global-colors-Neutral-600: var(--global-#8d8880);
--global-colors-Neutral-700: var(--global-#6b665f);
--global-colors-Neutral-800: var(--global-#504c48);
--global-colors-Neutral-900: var(--global-#343330);
--global-colors-Neutral-1000: var(--global-#191919);
--global-colors-Gray-25: var(--global-#fbfbfb);
--global-colors-Gray-50: var(--global-#e5e5e5);
--global-colors-Gray-100: var(--global-#c5c5c5);
--global-colors-Gray-200: var(--global-#ababab);
--global-colors-Gray-300: var(--global-#808080);
--global-colors-Gray-400: var(--global-#555555);
--global-colors-Gray-500: var(--global-#383838);
--global-colors-Gray-600: var(--global-#2a2a2a);
--global-colors-Gray-700: var(--global-#242424);
--global-colors-Gray-800: var(--global-#1e1e1e);
--global-colors-Gray-900: var(--global-#171717);
--global-colors-Gray-1000: var(--global-#111111);
--global-colors-black: var(--global-#000000);
--global-colors-white: var(--global-#ffffff);
--global-colors-Red-25: var(--global-#fff6f5);
--global-colors-Red-50: var(--global-#fff0ee);
--global-colors-Red-100: var(--global-#ffd8d1);
--global-colors-Red-200: var(--global-#febbae);
--global-colors-Red-300: var(--global-#fe8f7a);
--global-colors-Red-400: var(--global-#fd4e2d);
--global-colors-Red-500: var(--global-#e72500);
--global-colors-Red-600: var(--global-#d92300);
--global-colors-Red-700: var(--global-#951800);
--global-colors-Red-800: var(--global-#711200);
--global-colors-Red-900: var(--global-#500d00);
--global-colors-Red-1000: var(--global-#330800);
--global-colors-Yellow-25: var(--global-#fffef5);
--global-colors-Yellow-50: var(--global-#fefce8);
--global-colors-Yellow-100: var(--global-#fef9c3);
--global-colors-Yellow-200: var(--global-#fef08a);
--global-colors-Yellow-300: var(--global-#fde047);
--global-colors-Yellow-400: var(--global-#facc15);
--global-colors-Yellow-500: var(--global-#eab308);
--global-colors-Yellow-600: var(--global-#ca8a04);
--global-colors-Yellow-700: var(--global-#a16207);
--global-colors-Yellow-800: var(--global-#854d0e);
--global-colors-Yellow-900: var(--global-#713f12);
--global-colors-Yellow-1000: var(--global-#42250b);
--global-colors-Purple-25: var(--global-#f7f5ff);
--global-colors-Purple-50: var(--global-#e7defe);
--global-colors-Purple-100: var(--global-#d6c8fd);
--global-colors-Purple-200: var(--global-#c5b1fd);
--global-colors-Purple-300: var(--global-#b49bfc);
--global-colors-Purple-400: var(--global-#9472f7);
--global-colors-Purple-500: var(--global-#7549f2);
--global-colors-Purple-600: var(--global-#6338d7);
--global-colors-Purple-700: var(--global-#5227bb);
--global-colors-Purple-800: var(--global-#4016a0);
--global-colors-Purple-900: var(--global-#2c0f6e);
--global-colors-Purple-1000: var(--global-#18083c);
--global-colors-Orange-25: var(--global-#fff9f5);
--global-colors-Orange-50: var(--global-#fbdfcf);
--global-colors-Orange-100: var(--global-#f6c6aa);
--global-colors-Orange-200: var(--global-#f2ac84);
--global-colors-Orange-300: var(--global-#ed9869);
--global-colors-Orange-400: var(--global-#e7854e);
--global-colors-Orange-500: var(--global-#e27133);
--global-colors-Orange-600: var(--global-#c76127);
--global-colors-Orange-700: var(--global-#ac511a);
--global-colors-Orange-800: var(--global-#91410e);
--global-colors-Orange-900: var(--global-#763101);
--global-colors-Orange-1000: var(--global-#401b01);
--global-colors-Amber-25: var(--global-#fffcf5);
--global-colors-Amber-50: var(--global-#f9e8c4);
--global-colors-Amber-100: var(--global-#f4d594);
--global-colors-Amber-200: var(--global-#f3c770);
--global-colors-Amber-300: var(--global-#f1b84d);
--global-colors-Amber-400: var(--global-#f0a929);
--global-colors-Amber-500: var(--global-#ef9b05);
--global-colors-Amber-600: var(--global-#d08804);
--global-colors-Amber-700: var(--global-#b17503);
--global-colors-Amber-800: var(--global-#936101);
--global-colors-Amber-900: var(--global-#744e00);
--global-colors-Amber-1000: var(--global-#3f2a00);
--global-colors-Green-25: var(--global-#f8fcf8);
--global-colors-Green-50: var(--global-#d5ead3);
--global-colors-Green-100: var(--global-#b2d9af);
--global-colors-Green-200: var(--global-#8fc88a);
--global-colors-Green-300: var(--global-#66b877);
--global-colors-Green-400: var(--global-#3da763);
--global-colors-Green-500: var(--global-#149750);
--global-colors-Green-600: var(--global-#128347);
--global-colors-Green-700: var(--global-#11703d);
--global-colors-Green-800: var(--global-#0f5c34);
--global-colors-Green-900: var(--global-#0a4024);
--global-colors-Green-1000: var(--global-#062515);
--global-opacities-0: var(--global-0-0);
--global-opacities-5: var(--global-0-050);
--global-opacities-10: var(--global-0-100);
--global-opacities-15: var(--global-0-150);
--global-opacities-20: var(--global-0-200);
--global-opacities-30: var(--global-0-300);
--global-opacities-33: var(--global-0-333);
--global-opacities-40: var(--global-0-400);
--global-opacities-50: var(--global-0-500);
--global-opacities-60: var(--global-0-600);
--global-opacities-66: var(--global-0-666);
--global-opacities-70: var(--global-0-700);
--global-opacities-80: var(--global-0-800);
--global-opacities-85: var(--global-0-850);
--global-opacities-90: var(--global-0-900);
--global-opacities-95: var(--global-0-950);
--global-opacities-100: var(--global-1-0);
--global-font-size-10: var(--global-10px);
--global-font-size-12: var(--global-12px);
--global-font-size-14: var(--global-14px);
--global-font-size-16: var(--global-16px);
--global-font-size-20: var(--global-20px);
--global-font-size-24: var(--global-24px);
--global-font-size-32: var(--global-32px);
--global-font-size-40: var(--global-40px);
--global-font-size-48: var(--global-48px);
--global-font-size-56: var(--global-56px);
--global-font-size-64: var(--global-64px);
--global-font-size-72: var(--global-72px);
--global-font-size-80: var(--global-80px);
--global-font-size-96: var(--global-96px);
--global-font-size-112: var(--global-112px);
--global-font-size-128: var(--global-128px);
--global-font-family-Primary: var(--global-aeonik);
--global-font-family-mono: var(--global-aeonik mono);
--global-line-height-100: var(--global-100%);
--global-line-height-110: var(--global-110%);
--global-line-height-111: var(--global-111%);
--global-line-height-112: var(--global-112%);
--global-line-height-114: var(--global-114%);
--global-line-height-116: var(--global-116%);
--global-line-height-120: var(--global-120%);
--global-line-height-128: var(--global-128%);
--global-line-height-135: var(--global-135%);
--global-line-height-136: var(--global-136%);
--global-line-height-140: var(--global-140%);
--global-line-height-150: var(--global-150%);
--global-line-height-160: var(--global-160%);
--global-font-weight-400: var(--global-400);
--global-font-weight-500: var(--global-500);
--global-letter-spacing-0: var(--global-0%);
--global-letter-spacing-1: var(--global-1%);
--global-letter-spacing-10: var(--global-10%);
--global-letter-spacing-12: var(--global-12%);
--global-letter-spacing-neg1: var(--global--1%);
--global-letter-spacing-neg2: var(--global--2%);
--global-letter-spacing-neg3: var(--global--3%);
--global-letter-spacing-pt5: var(--global-0-5%);
--global-letter-spacing-1pt25: var(--global-1-25%);
--global-letter-spacing-1pt5: var(--global-1-5%);
}
