:root {
--global-colors-Blue-25-value: #FAFBFF;
--global-colors-Blue-50-value: #E3EBFF;
--global-colors-Blue-100-value: #CDDAFF;
--global-colors-Blue-200-value: #B6C9FF;
--global-colors-Blue-300-value: #7994F6;
--global-colors-Blue-400-value: #3F59E4;
--global-colors-Blue-500-value: #203DD5;
--global-colors-Blue-600-value: #1A31A9;
--global-colors-Blue-700-value: #152888;
--global-colors-Blue-800-value: #111E66;
--global-colors-Blue-900-value: #0C1545;
--global-colors-Blue-1000-value: #070C24;
--global-colors-Teal-25-value: #FAFFFF;
--global-colors-Teal-50-value: #E2F6F4;
--global-colors-Teal-100-value: #C9EDE9;
--global-colors-Teal-200-value: #B1E4DE;
--global-colors-Teal-300-value: #7DCFC2;
--global-colors-Teal-400-value: #4CB7A3;
--global-colors-Teal-500-value: #229682;
--global-colors-Teal-600-value: #096256;
--global-colors-Teal-700-value: #084F45;
--global-colors-Teal-800-value: #063C35;
--global-colors-Teal-900-value: #052924;
--global-colors-Teal-1000-value: #041613;
--global-colors-Neutral-25-value: #FFFEFA;
--global-colors-Neutral-50-value: #FDFAF2;
--global-colors-Neutral-100-value: #F6F1E7;
--global-colors-Neutral-200-value: #F1E9DA;
--global-colors-Neutral-300-value: #E8DCC7;
--global-colors-Neutral-400-value: #CBC3B4;
--global-colors-Neutral-500-value: #AFABA1;
--global-colors-Neutral-600-value: #8D8880;
--global-colors-Neutral-700-value: #6B665F;
--global-colors-Neutral-800-value: #504C48;
--global-colors-Neutral-900-value: #343330;
--global-colors-Neutral-1000-value: #191919;
--global-colors-Gray-25-value: #FBFBFB;
--global-colors-Gray-50-value: #E5E5E5;
--global-colors-Gray-100-value: #C5C5C5;
--global-colors-Gray-200-value: #ABABAB;
--global-colors-Gray-300-value: #808080;
--global-colors-Gray-400-value: #555555;
--global-colors-Gray-500-value: #383838;
--global-colors-Gray-600-value: #2A2A2A;
--global-colors-Gray-700-value: #242424;
--global-colors-Gray-800-value: #1E1E1E;
--global-colors-Gray-900-value: #171717;
--global-colors-Gray-1000-value: #111111;
--global-colors-black-value: #000000;
--global-colors-white-value: #ffffff;
--global-colors-Red-25-value: #FFF6F5;
--global-colors-Red-50-value: #FFF0EE;
--global-colors-Red-100-value: #FFD8D1;
--global-colors-Red-200-value: #FEBBAE;
--global-colors-Red-300-value: #FE8F7A;
--global-colors-Red-400-value: #FD4E2D;
--global-colors-Red-500-value: #E72500;
--global-colors-Red-600-value: #D92300;
--global-colors-Red-700-value: #951800;
--global-colors-Red-800-value: #711200;
--global-colors-Red-900-value: #500D00;
--global-colors-Red-1000-value: #330800;
--global-colors-Yellow-25-value: #FFFEF5;
--global-colors-Yellow-50-value: #FEFCE8;
--global-colors-Yellow-100-value: #FEF9C3;
--global-colors-Yellow-200-value: #FEF08A;
--global-colors-Yellow-300-value: #FDE047;
--global-colors-Yellow-400-value: #FACC15;
--global-colors-Yellow-500-value: #EAB308;
--global-colors-Yellow-600-value: #CA8A04;
--global-colors-Yellow-700-value: #A16207;
--global-colors-Yellow-800-value: #854D0E;
--global-colors-Yellow-900-value: #713F12;
--global-colors-Yellow-1000-value: #42250B;
--global-colors-Purple-25-value: #F7F5FF;
--global-colors-Purple-50-value: #E7DEFE;
--global-colors-Purple-100-value: #D6C8FD;
--global-colors-Purple-200-value: #C5B1FD;
--global-colors-Purple-300-value: #B49BFC;
--global-colors-Purple-400-value: #9472F7;
--global-colors-Purple-500-value: #7549F2;
--global-colors-Purple-600-value: #6338D7;
--global-colors-Purple-700-value: #5227BB;
--global-colors-Purple-800-value: #4016A0;
--global-colors-Purple-900-value: #2C0F6E;
--global-colors-Purple-1000-value: #18083C;
--global-colors-Orange-25-value: #FFF9F5;
--global-colors-Orange-50-value: #FBDFCF;
--global-colors-Orange-100-value: #F6C6AA;
--global-colors-Orange-200-value: #F2AC84;
--global-colors-Orange-300-value: #ED9869;
--global-colors-Orange-400-value: #E7854E;
--global-colors-Orange-500-value: #E27133;
--global-colors-Orange-600-value: #C76127;
--global-colors-Orange-700-value: #AC511A;
--global-colors-Orange-800-value: #91410E;
--global-colors-Orange-900-value: #763101;
--global-colors-Orange-1000-value: #401B01;
--global-colors-Amber-25-value: #FFFCF5;
--global-colors-Amber-50-value: #F9E8C4;
--global-colors-Amber-100-value: #F4D594;
--global-colors-Amber-200-value: #F3C770;
--global-colors-Amber-300-value: #F1B84D;
--global-colors-Amber-400-value: #F0A929;
--global-colors-Amber-500-value: #EF9B05;
--global-colors-Amber-600-value: #D08804;
--global-colors-Amber-700-value: #B17503;
--global-colors-Amber-800-value: #936101;
--global-colors-Amber-900-value: #744E00;
--global-colors-Amber-1000-value: #3F2A00;
--global-colors-Green-25-value: #F8FCF8;
--global-colors-Green-50-value: #D5EAD3;
--global-colors-Green-100-value: #B2D9AF;
--global-colors-Green-200-value: #8FC88A;
--global-colors-Green-300-value: #66B877;
--global-colors-Green-400-value: #3DA763;
--global-colors-Green-500-value: #149750;
--global-colors-Green-600-value: #128347;
--global-colors-Green-700-value: #11703D;
--global-colors-Green-800-value: #0F5C34;
--global-colors-Green-900-value: #0A4024;
--global-colors-Green-1000-value: #062515;
--global-opacities-0-value: 0.0;
--global-opacities-5-value: 0.050;
--global-opacities-10-value: 0.100;
--global-opacities-15-value: 0.150;
--global-opacities-20-value: 0.200;
--global-opacities-30-value: 0.300;
--global-opacities-33-value: 0.333;
--global-opacities-40-value: 0.400;
--global-opacities-50-value: 0.500;
--global-opacities-60-value: 0.600;
--global-opacities-66-value: 0.666;
--global-opacities-70-value: 0.700;
--global-opacities-80-value: 0.800;
--global-opacities-85-value: 0.850;
--global-opacities-90-value: 0.900;
--global-opacities-95-value: 0.950;
--global-opacities-100-value: 1.0;
--global-font-size-10-value: 10px;
--global-font-size-12-value: 12px;
--global-font-size-14-value: 14px;
--global-font-size-16-value: 16px;
--global-font-size-20-value: 20px;
--global-font-size-24-value: 24px;
--global-font-size-32-value: 32px;
--global-font-size-40-value: 40px;
--global-font-size-48-value: 48px;
--global-font-size-56-value: 56px;
--global-font-size-64-value: 64px;
--global-font-size-72-value: 72px;
--global-font-size-80-value: 80px;
--global-font-size-96-value: 96px;
--global-font-size-112-value: 112px;
--global-font-size-128-value: 128px;
--global-font-family-Primary-value: Aeonik;
--global-font-family-mono-value: Aeonik Mono;
--global-line-height-100-value: 100%;
--global-line-height-110-value: 110%;
--global-line-height-111-value: 111%;
--global-line-height-112-value: 112%;
--global-line-height-114-value: 114%;
--global-line-height-116-value: 116%;
--global-line-height-120-value: 120%;
--global-line-height-128-value: 128%;
--global-line-height-135-value: 135%;
--global-line-height-136-value: 136%;
--global-line-height-140-value: 140%;
--global-line-height-150-value: 150%;
--global-line-height-160-value: 160%;
--global-font-weight-400-value: 400;
--global-font-weight-500-value: 500;
--global-letter-spacing-0-value: 0%;
--global-letter-spacing-1-value: 1%;
--global-letter-spacing-10-value: 10%;
--global-letter-spacing-12-value: 12%;
--global-letter-spacing-neg1-value: -1%;
--global-letter-spacing-neg2-value: -2%;
--global-letter-spacing-neg3-value: -3%;
--global-letter-spacing-pt5-value: 0.5%;
--global-letter-spacing-1pt25-value: 1.25%;
--global-letter-spacing-1pt5-value: 1.5%;
}
