:root {
--dark-color-surface-primary-value: {colors.Gray.1000};
--dark-color-surface-secondary-value: {colors.Gray.800};
--dark-color-surface-tertiary-value: {colors.Gray.600};
--dark-color-surface-brand-primary-value: {colors.Blue.400};
--dark-color-surface-brand-secondary-value: {colors.Teal.400};
--dark-color-surface-brand-tertiary-value: {colors.Neutral.25};
--dark-color-content-primary-value: {colors.Neutral.25};
--dark-color-content-secondary-value: {colors.Neutral.100};
--dark-color-content-primary-inv-value: {colors.Neutral.1000};
--dark-color-content-secondary-inv-value: {colors.Neutral.700};
--dark-color-content-brand-primary-value: {colors.Neutral.25};
--dark-color-content-brand-secondary-value: {colors.Neutral.1000};
--dark-color-content-brand-tertiary-value: {colors.Neutral.1000};
--dark-color-interaction-on-default-primary-default-surface-value: {colors.Neutral.25};
--dark-color-interaction-on-default-primary-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-default-primary-hover-surface-value: {colors.Blue.400};
--dark-color-interaction-on-default-primary-hover-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-primary-active-surface-value: {colors.Blue.600};
--dark-color-interaction-on-default-primary-active-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-primary-focus-surface-value: {colors.Blue.400};
--dark-color-interaction-on-default-primary-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-primary-focus-border-value: {colors.Blue.200};
--dark-color-interaction-on-default-primary-focus-border-$extensions-studio.tokens-modify-value: 0.33;
--dark-color-interaction-on-default-primary-disabled-surface-value: {colors.Gray.500};
--dark-color-interaction-on-default-primary-disabled-content-value: {colors.Gray.300};
--dark-color-interaction-on-default-secondary-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-secondary-default-border-value: {colors.Neutral.25};
--dark-color-interaction-on-default-secondary-hover-content-value: {colors.Blue.200};
--dark-color-interaction-on-default-secondary-hover-border-value: {colors.Blue.200};
--dark-color-interaction-on-default-secondary-active-content-value: {colors.Blue.400};
--dark-color-interaction-on-default-secondary-active-border-value: {colors.Blue.400};
--dark-color-interaction-on-default-secondary-focus-content-value: {colors.Blue.200};
--dark-color-interaction-on-default-secondary-focus-border-value: {colors.Blue.200};
--dark-color-interaction-on-default-secondary-focus-outer-value: {colors.Blue.200};
--dark-color-interaction-on-default-secondary-focus-outer-$extensions-studio.tokens-modify-value: 0.33;
--dark-color-interaction-on-default-secondary-disabled-content-value: {colors.Gray.500};
--dark-color-interaction-on-default-secondary-disabled-border-value: {colors.Gray.500};
--dark-color-interaction-on-default-text-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-text-hover-content-value: {colors.Blue.200};
--dark-color-interaction-on-default-text-active-content-value: {colors.Blue.400};
--dark-color-interaction-on-default-text-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-default-text-focus-border-value: {colors.Blue.400};
--dark-color-interaction-on-default-text-disabled-content-value: {colors.Gray.500};
--dark-color-interaction-on-dark-primary-default-surface-value: {colors.Neutral.1000};
--dark-color-interaction-on-dark-primary-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-dark-primary-hover-surface-value: {colors.Blue.400};
--dark-color-interaction-on-dark-primary-hover-content-value: {colors.Neutral.25};
--dark-color-interaction-on-dark-primary-active-surface-value: {colors.Blue.600};
--dark-color-interaction-on-dark-primary-active-content-value: {colors.Neutral.25};
--dark-color-interaction-on-dark-primary-focus-surface-value: {colors.Blue.400};
--dark-color-interaction-on-dark-primary-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-dark-primary-focus-border-value: {colors.Blue.200};
--dark-color-interaction-on-dark-primary-focus-border-$extensions-studio.tokens-modify-value: 0.66;
--dark-color-interaction-on-dark-primary-disabled-surface-value: {colors.Gray.200};
--dark-color-interaction-on-dark-primary-disabled-content-value: {colors.Gray.300};
--dark-color-interaction-on-dark-secondary-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-dark-secondary-default-border-value: {colors.Neutral.1000};
--dark-color-interaction-on-dark-secondary-hover-content-value: {colors.Blue.400};
--dark-color-interaction-on-dark-secondary-hover-border-value: {colors.Blue.400};
--dark-color-interaction-on-dark-secondary-active-content-value: {colors.Blue.600};
--dark-color-interaction-on-dark-secondary-active-border-value: {colors.Blue.600};
--dark-color-interaction-on-dark-secondary-focus-content-value: {colors.Blue.400};
--dark-color-interaction-on-dark-secondary-focus-border-value: {colors.Blue.400};
--dark-color-interaction-on-dark-secondary-focus-outer-value: {colors.Blue.200};
--dark-color-interaction-on-dark-secondary-focus-outer-$extensions-studio.tokens-modify-value: 0.66;
--dark-color-interaction-on-dark-secondary-disabled-content-value: {colors.Gray.200};
--dark-color-interaction-on-dark-secondary-disabled-border-value: {colors.Gray.200};
--dark-color-interaction-on-dark-text-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-dark-text-hover-content-value: {colors.Blue.400};
--dark-color-interaction-on-dark-text-active-content-value: {colors.Blue.600};
--dark-color-interaction-on-dark-text-focus-content-value: {colors.Blue.400};
--dark-color-interaction-on-dark-text-focus-border-value: {colors.Blue.400};
--dark-color-interaction-on-dark-text-disabled-content-value: {colors.Gray.200};
--dark-color-interaction-on-light-primary-default-surface-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-primary-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-light-primary-hover-surface-value: {colors.Gray.1000};
--dark-color-interaction-on-light-primary-hover-content-value: {colors.Neutral.25};
--dark-color-interaction-on-light-primary-active-surface-value: {colors.Gray.1000};
--dark-color-interaction-on-light-primary-active-content-value: {colors.Neutral.25};
--dark-color-interaction-on-light-primary-focus-surface-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-primary-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-light-primary-focus-border-value: {colors.Neutral.25};
--dark-color-interaction-on-light-primary-focus-border-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-light-primary-disabled-surface-value: {colors.Gray.200};
--dark-color-interaction-on-light-primary-disabled-content-value: {colors.Gray.50};
--dark-color-interaction-on-light-secondary-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-secondary-default-border-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-secondary-hover-content-value: {colors.Gray.1000};
--dark-color-interaction-on-light-secondary-hover-border-value: {colors.Gray.1000};
--dark-color-interaction-on-light-secondary-active-content-value: {colors.Gray.1000};
--dark-color-interaction-on-light-secondary-active-border-value: {colors.Gray.1000};
--dark-color-interaction-on-light-secondary-focus-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-secondary-focus-border-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-secondary-focus-outer-value: {colors.Neutral.25};
--dark-color-interaction-on-light-secondary-focus-outer-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-light-secondary-disabled-content-value: {colors.Gray.200};
--dark-color-interaction-on-light-secondary-disabled-border-value: {colors.Gray.200};
--dark-color-interaction-on-light-text-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-text-hover-content-value: {colors.Gray.1000};
--dark-color-interaction-on-light-text-active-content-value: {colors.Gray.1000};
--dark-color-interaction-on-light-text-focus-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-light-text-focus-border-value: {colors.Neutral.25};
--dark-color-interaction-on-light-text-focus-border-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-light-text-disabled-content-value: {colors.Gray.200};
--dark-color-interaction-on-other-primary-default-surface-value: {colors.Neutral.25};
--dark-color-interaction-on-other-primary-default-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-other-primary-hover-surface-value: {colors.Neutral.100};
--dark-color-interaction-on-other-primary-hover-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-other-primary-active-surface-value: {colors.Neutral.100};
--dark-color-interaction-on-other-primary-active-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-other-primary-focus-surface-value: {colors.Neutral.25};
--dark-color-interaction-on-other-primary-focus-content-value: {colors.Neutral.1000};
--dark-color-interaction-on-other-primary-focus-border-value: {colors.Neutral.25};
--dark-color-interaction-on-other-primary-focus-border-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-other-primary-disabled-surface-value: {colors.Gray.500};
--dark-color-interaction-on-other-primary-disabled-content-value: {colors.Gray.600};
--dark-color-interaction-on-other-secondary-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-other-secondary-default-border-value: {colors.Neutral.25};
--dark-color-interaction-on-other-secondary-hover-content-value: {colors.Neutral.100};
--dark-color-interaction-on-other-secondary-hover-border-value: {colors.Neutral.100};
--dark-color-interaction-on-other-secondary-active-content-value: {colors.Neutral.100};
--dark-color-interaction-on-other-secondary-active-border-value: {colors.Neutral.100};
--dark-color-interaction-on-other-secondary-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-other-secondary-focus-border-value: {colors.Neutral.25};
--dark-color-interaction-on-other-secondary-focus-outer-value: {colors.Neutral.25};
--dark-color-interaction-on-other-secondary-focus-outer-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-other-secondary-disabled-content-value: {colors.Gray.500};
--dark-color-interaction-on-other-secondary-disabled-border-value: {colors.Gray.500};
--dark-color-interaction-on-other-text-default-content-value: {colors.Neutral.25};
--dark-color-interaction-on-other-text-hover-content-value: {colors.Neutral.100};
--dark-color-interaction-on-other-text-active-content-value: {colors.Neutral.100};
--dark-color-interaction-on-other-text-focus-content-value: {colors.Neutral.25};
--dark-color-interaction-on-other-text-focus-border-value: {colors.Neutral.25};
--dark-color-interaction-on-other-text-focus-border-$extensions-studio.tokens-modify-value: 0.5;
--dark-color-interaction-on-other-text-disabled-content-value: {colors.Gray.500};
}
