:root {
--other01-color-surface-primary: {colors.Gray.1000};
--other01-color-surface-secondary: {colors.Gray.800};
--other01-color-surface-tertiary: {colors.Gray.600};
--other01-color-surface-brand-primary: #7549F2;
--other01-color-surface-brand-secondary: #EF9B05;
--other01-color-surface-brand-tertiary: {colors.Blue.400};
--other01-color-content-primary: {colors.Neutral.25};
--other01-color-content-secondary: {colors.Neutral.100};
--other01-color-content-primary-inv: {colors.Neutral.1000};
--other01-color-content-secondary-inv: {colors.Neutral.700};
--other01-color-content-brand-primary: {colors.Neutral.25};
--other01-color-content-brand-secondary: {colors.Neutral.1000};
--other01-color-content-brand-tertiary: {colors.Neutral.25};
--other01-color-interaction-on-default-primary-default-surface: {colors.Neutral.25};
--other01-color-interaction-on-default-primary-default-content: {colors.Neutral.1000};
--other01-color-interaction-on-default-primary-hover-surface: {colors.Blue.400};
--other01-color-interaction-on-default-primary-hover-content: {colors.Neutral.25};
--other01-color-interaction-on-default-primary-active-surface: {colors.Blue.600};
--other01-color-interaction-on-default-primary-active-content: {colors.Neutral.25};
--other01-color-interaction-on-default-primary-focus-surface: {colors.Blue.400};
--other01-color-interaction-on-default-primary-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-default-primary-focus-border: {colors.Blue.200};
--other01-color-interaction-on-default-primary-focus-border-$extensions-studio.tokens-modify: 0.33;
--other01-color-interaction-on-default-primary-disabled-surface: {colors.Gray.500};
--other01-color-interaction-on-default-primary-disabled-content: {colors.Gray.300};
--other01-color-interaction-on-default-secondary-default-content: {colors.Neutral.25};
--other01-color-interaction-on-default-secondary-default-border: {colors.Neutral.25};
--other01-color-interaction-on-default-secondary-hover-content: {colors.Blue.200};
--other01-color-interaction-on-default-secondary-hover-border: {colors.Blue.200};
--other01-color-interaction-on-default-secondary-active-content: {colors.Blue.400};
--other01-color-interaction-on-default-secondary-active-border: {colors.Blue.400};
--other01-color-interaction-on-default-secondary-focus-content: {colors.Blue.200};
--other01-color-interaction-on-default-secondary-focus-border: {colors.Blue.200};
--other01-color-interaction-on-default-secondary-focus-outer: {colors.Blue.200};
--other01-color-interaction-on-default-secondary-focus-outer-$extensions-studio.tokens-modify: 0.33;
--other01-color-interaction-on-default-secondary-disabled-content: {colors.Gray.500};
--other01-color-interaction-on-default-secondary-disabled-border: {colors.Gray.500};
--other01-color-interaction-on-default-text-default-content: {colors.Neutral.25};
--other01-color-interaction-on-default-text-hover-content: {colors.Blue.200};
--other01-color-interaction-on-default-text-active-content: {colors.Blue.400};
--other01-color-interaction-on-default-text-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-default-text-focus-border: {colors.Blue.400};
--other01-color-interaction-on-default-text-disabled-content: {colors.Gray.500};
--other01-color-interaction-on-dark-primary-default-surface: {colors.Neutral.25};
--other01-color-interaction-on-dark-primary-default-content: {colors.Neutral.1000};
--other01-color-interaction-on-dark-primary-hover-surface: {colors.Blue.400};
--other01-color-interaction-on-dark-primary-hover-content: {colors.Neutral.25};
--other01-color-interaction-on-dark-primary-active-surface: {colors.Blue.600};
--other01-color-interaction-on-dark-primary-active-content: {colors.Neutral.25};
--other01-color-interaction-on-dark-primary-focus-surface: {colors.Blue.400};
--other01-color-interaction-on-dark-primary-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-dark-primary-focus-border: {colors.Blue.200};
--other01-color-interaction-on-dark-primary-focus-border-$extensions-studio.tokens-modify: 0.33;
--other01-color-interaction-on-dark-primary-disabled-surface: {colors.Gray.500};
--other01-color-interaction-on-dark-primary-disabled-content: {colors.Gray.600};
--other01-color-interaction-on-dark-secondary-default-content: {colors.Neutral.25};
--other01-color-interaction-on-dark-secondary-default-border: {colors.Neutral.25};
--other01-color-interaction-on-dark-secondary-hover-content: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-hover-border: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-active-content: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-active-border: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-focus-content: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-focus-border: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-focus-outer: {colors.Blue.200};
--other01-color-interaction-on-dark-secondary-focus-outer-$extensions-studio.tokens-modify: 0.33;
--other01-color-interaction-on-dark-secondary-disabled-content: {colors.Gray.500};
--other01-color-interaction-on-dark-secondary-disabled-border: {colors.Gray.500};
--other01-color-interaction-on-dark-text-default-content: {colors.Blue.200};
--other01-color-interaction-on-dark-text-hover-content: {colors.Blue.300};
--other01-color-interaction-on-dark-text-active-content: {colors.Blue.400};
--other01-color-interaction-on-dark-text-focus-content: {colors.Blue.200};
--other01-color-interaction-on-dark-text-focus-border: {colors.Blue.200};
--other01-color-interaction-on-dark-text-disabled-content: {colors.Gray.500};
--other01-color-interaction-on-light-primary-default-surface: {colors.Neutral.1000};
--other01-color-interaction-on-light-primary-default-content: {colors.Neutral.25};
--other01-color-interaction-on-light-primary-hover-surface: {colors.Gray.1000};
--other01-color-interaction-on-light-primary-hover-content: {colors.Neutral.25};
--other01-color-interaction-on-light-primary-active-surface: {colors.Gray.1000};
--other01-color-interaction-on-light-primary-active-content: {colors.Neutral.25};
--other01-color-interaction-on-light-primary-focus-surface: {colors.Neutral.1000};
--other01-color-interaction-on-light-primary-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-light-primary-focus-border: {colors.Neutral.25};
--other01-color-interaction-on-light-primary-focus-border-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-light-primary-disabled-surface: {colors.Gray.200};
--other01-color-interaction-on-light-primary-disabled-content: {colors.Gray.50};
--other01-color-interaction-on-light-secondary-default-content: {colors.Neutral.1000};
--other01-color-interaction-on-light-secondary-default-border: {colors.Neutral.1000};
--other01-color-interaction-on-light-secondary-hover-content: {colors.Gray.1000};
--other01-color-interaction-on-light-secondary-hover-border: {colors.Gray.1000};
--other01-color-interaction-on-light-secondary-active-content: {colors.Gray.1000};
--other01-color-interaction-on-light-secondary-active-border: {colors.Gray.1000};
--other01-color-interaction-on-light-secondary-focus-content: {colors.Neutral.1000};
--other01-color-interaction-on-light-secondary-focus-border: {colors.Neutral.1000};
--other01-color-interaction-on-light-secondary-focus-outer: {colors.Neutral.25};
--other01-color-interaction-on-light-secondary-focus-outer-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-light-secondary-disabled-content: {colors.Gray.200};
--other01-color-interaction-on-light-secondary-disabled-border: {colors.Gray.200};
--other01-color-interaction-on-light-text-default-content: {colors.Neutral.1000};
--other01-color-interaction-on-light-text-hover-content: {colors.Gray.1000};
--other01-color-interaction-on-light-text-active-content: {colors.Gray.1000};
--other01-color-interaction-on-light-text-focus-content: {colors.Neutral.1000};
--other01-color-interaction-on-light-text-focus-border: {colors.Neutral.25};
--other01-color-interaction-on-light-text-focus-border-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-light-text-disabled-content: {colors.Gray.200};
--other01-color-interaction-on-other-primary-default-surface: {colors.Neutral.25};
--other01-color-interaction-on-other-primary-default-content: {colors.Neutral.1000};
--other01-color-interaction-on-other-primary-hover-surface: {colors.Neutral.100};
--other01-color-interaction-on-other-primary-hover-content: {colors.Neutral.1000};
--other01-color-interaction-on-other-primary-active-surface: {colors.Neutral.100};
--other01-color-interaction-on-other-primary-active-content: {colors.Neutral.1000};
--other01-color-interaction-on-other-primary-focus-surface: {colors.Neutral.25};
--other01-color-interaction-on-other-primary-focus-content: {colors.Neutral.1000};
--other01-color-interaction-on-other-primary-focus-border: {colors.Neutral.25};
--other01-color-interaction-on-other-primary-focus-border-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-other-primary-disabled-surface: {colors.Gray.500};
--other01-color-interaction-on-other-primary-disabled-content: {colors.Gray.600};
--other01-color-interaction-on-other-secondary-default-content: {colors.Neutral.25};
--other01-color-interaction-on-other-secondary-default-border: {colors.Neutral.25};
--other01-color-interaction-on-other-secondary-hover-content: {colors.Neutral.100};
--other01-color-interaction-on-other-secondary-hover-border: {colors.Neutral.100};
--other01-color-interaction-on-other-secondary-active-content: {colors.Neutral.100};
--other01-color-interaction-on-other-secondary-active-border: {colors.Neutral.100};
--other01-color-interaction-on-other-secondary-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-other-secondary-focus-border: {colors.Neutral.25};
--other01-color-interaction-on-other-secondary-focus-outer: {colors.Neutral.25};
--other01-color-interaction-on-other-secondary-focus-outer-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-other-secondary-disabled-content: {colors.Gray.500};
--other01-color-interaction-on-other-secondary-disabled-border: {colors.Gray.500};
--other01-color-interaction-on-other-text-default-content: {colors.Neutral.25};
--other01-color-interaction-on-other-text-hover-content: {colors.Neutral.100};
--other01-color-interaction-on-other-text-active-content: {colors.Neutral.100};
--other01-color-interaction-on-other-text-focus-content: {colors.Neutral.25};
--other01-color-interaction-on-other-text-focus-border: {colors.Neutral.25};
--other01-color-interaction-on-other-text-focus-border-$extensions-studio.tokens-modify: 0.5;
--other01-color-interaction-on-other-text-disabled-content: {colors.Gray.500};
}
